@import 'node_modules/modern-normalize/modern-normalize.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-black-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;

    --accent-color: #2196f3;
    --background-black: #21303a;
    --background-gray: #f5f4fa;
    --button-filter: #f5f4fa;
    --button-primary-hover: #188ce8;
    --logo-black: #000000;
    --text-white-opacity: #ffffff99;
}



